<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-scroll style="height: 100%">
    <h2 padding-left padding-top>Add Account</h2>
    <form (ngSubmit)="signIn()">

      <div class="inputContainer" margin-vertical>
        <input [(ngModel)]="inputs.username" placeholder="Library Card Number or Username" spellcheck="false" name="username">
        <a (click)="scan()" style="padding:0;">
          <img src="assets/icon/icon_barcodescanner.svg" class="barcode" />
        </a>
      </div>
      <div class="inputContainer" margin-vertical>
        <input [(ngModel)]="inputs.password" placeholder="PIN" spellcheck="false" name="password" type="password">
      </div>
      <div class="inputContainer" margin-vertical>
        <input (focus)="toggleHelp()" (blur)="toggleHelp()" [(ngModel)]="inputs.nickname" placeholder="Choose a Nickname" spellcheck="false" name="nickname">
      </div>
      <div margin-vertical padding-left *ngIf="showHelp">
        <strong>Nickname will only display to you in this app.</strong>
      </div>
      <div padding>
        <a (click)="requestPinReset()">Forgot your PIN?</a>
      </div>
      <div padding>
        <button ion-button block color="primary">Add Account</button>
      </div>
    </form>
    <div padding-horizontal>
      <button ion-button block color="danger" (click)="dismiss(false)">Cancel</button>
    </div>
    <br><br>
  </ion-scroll>
</ion-content>
