<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
        </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <h2 padding>{{locationName}} Rooms</h2>
    <ion-item *ngFor="let space of spaces" text-wrap>
        <div>
            <h3 (click)="space.show = space.show ? false : true" color="clickable" style="font-size: 1.2em; float: left">{{space.name}}</h3>
            <button ion-button item-right color="primary" *ngIf="space.show" (click)="openModal(space)" style="float: right; margin: 0">Reserve a time</button>
        </div>
        <div *ngIf="space.show">
            <br>
            <div [innerHtml]="space.description"></div>
            <img src="{{space.image}}" />
        </div>
    </ion-item>
</ion-content>