<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <h2 padding>Meeting Rooms</h2>
    <ion-list>
        <ion-item *ngFor="let location of locations" (click)="goToSpaces(location.lid)">
            <span color="clickable">{{location.name}}</span>
        </ion-item>
    </ion-list>
</ion-content>