<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button icon-only (click)="dismiss()" class="backButton">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <h2 padding-left padding-top>Reserve - {{space.name}}</h2>
    <h3 padding>{{viewTitle}}</h3>

    <calendar class="hold" [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" [monthviewEventDetailTemplate]="template"
        (onCurrectDateChanged)="onCurrentDateChanged($event)" (onRangeChanged)="reloadSource(startTime, endTime)" (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar>

    <template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
        <ion-item padding-top>
            <ion-label>Use info from account: </ion-label>
            <ion-select [(ngModel)]="selectedAccount" (ionChange)="getProfile()">
                <ion-option value="-1">None (enter)</ion-option>
                <ion-option *ngFor="let account of accounts" [value]="account">
                    {{account.getName()}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label class="inputlabel" color="{{Name.length == 0 ? 'green' : 'black'}}">Name: </ion-label>
            <ion-input [(ngModel)]="Name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="inputlabel" fixed color="{{Email.length == 0 ? 'green' : 'black'}}">Email: </ion-label>
            <ion-input [(ngModel)]="Email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="inputlabel" fixed color="{{showAs.length == 0 ? 'green' : 'black'}}">Show As: </ion-label>
            <ion-input (focus)="toggleHelp()" (blur)="toggleHelp()" [(ngModel)]="showAs"></ion-input>
        </ion-item>
        <ion-item *ngIf="showHelp" text-wrap>Choose how your booking will show on the public room schedule (like, "Spanish Study Group" or "Pat's Meeting").</ion-item>
        <h3 padding>{{availableTimes}}</h3>
        <ion-item *ngFor="let event of selectedDate.events">
            {{event.startTime | customdate:'h:mm:a'}} - {{event.endTime | customdate:'h:mm:a'}}
            <button ion-button item-right *ngIf="!event.selected && !event.reserved && !event.failed" (click)="select(event)" color="{{event.selected ? 'grey' : 'primary'}}">Reserve</button>
            <button ion-button item-right *ngIf="event.selected && !event.reserved && !event.failed" (click)="deselect(event)" color="{{event.selected ? 'grey' : 'primary'}}">Selected</button>

            <button ion-button item-right *ngIf="event.reserved" color="green">Reserved</button>
            <button ion-button item-right *ngIf="event.failed" color="red">Failed</button>
        </ion-item>
        <div id="footerSpace"></div>
    </template>

</ion-content>

<ion-footer *ngIf="selectedTimes.length > 0">
    <ion-toolbar>
        <ion-buttons>
            <button ion-button icon-left color="danger" (click)="clearSelected()">
                <ion-icon name="remove"></ion-icon>
                Clear Selected
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button end ion-button icon-right color="primary" (click)="reserveSelected()">
                Reserve Times
                <ion-icon name="checkbox"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>