page-reserve {

    .inputlabel {
        overflow: visible;
        margin-right: 20px;
    }

    input{
        text-align:right;
    }

    .backButton {
        margin: 0 6px;
        min-width: 44px;
    }

    #footerSpace {
        padding-top: 60px;
    }

    .monthview-primary-with-event {
        background-color: color($colors, primary) !important;
    }

    .monthview-current {
	    background-color: color($colors, gray) !important;
    }

    .monthview-selected {
	    background-color: color($colors, secondary) !important;
    }
    
    .monthview-secondary-with-event {
        background-color: color($colors, primary) !important;
    }
}