<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="has-header">
    
    <h2>{{book.title_display}}</h2>
    <div *ngIf='book.raw.recordtype != "list"'>
        <h3>{{book.author_display}}</h3>
        <div><img src="{{pikaUrl}}/bookcover.php?id={{book.id}}&size=medium&type=grouped_work" /></div>
        <p [innerHtml]="book.display_description"></p>
        <p *ngIf="book.series">Series: {{book.series.join(", ")}}</p>
        <p>Subject: {{book.subjects.join(", ")}}</p>
        <br/>
        <button ion-button (click)="goToWebView(book)">See Web View</button>
        <br/>
        <h3>Formats and Editions</h3>

        <div *ngFor="let format of book.formats">
            <ion-item no-padding *ngFor="let record of formats[format]" (click)="goToFormat(record)">
                <h2 id="h2format" ion-text color="clickable">{{format}}</h2>
                <p *ngIf="record.detail">{{record.detail}}</p>
                <p *ngIf="format.indexOf('e') == 0">{{record.items[0].location}}</p>
                <p ion-text color="{{record.available ? 'green' : 'grey'}}">{{record.available ? 'Available' : 'Unavailable'}}</p>
            </ion-item>
        </div>
    </div>

      <div style="text-align:center;" *ngIf='book.raw.recordtype == "list"'>
        <span *ngFor="let record of book.records" (click)="goToBook(record.bibId)">
            <img src="{{pikaUrl}}bookcover.php?id={{record.bibId.substring(13)}}&size=medium&type=grouped_work" />
        </span>
    </div>
    
</ion-content>
