<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->
<ion-content>
    <h2 padding>Lists</h2>
    <ion-list>
        <ion-item *ngFor="let category of categories" (click)="goToCategory(category.text_id)">
            {{category.display_label}}
        </ion-item>
    </ion-list>
</ion-content>