page-catalog {
    ion-select {
        max-width:90%
    }

    .displaySticky {
        position: sticky;
        background-color: white !important;
    }

    .closeIcon {
        font-size: 2.0rem;
        color: #666;
    }

}