<h2 padding-left>Filter</h2>
<ion-list>
    <!--<div class="facet-header">

    </div>-->
    <ion-item>
        <ion-label>Sort By</ion-label>
        <ion-select [(ngModel)]="sort" (ngModelChange)="onSortChange($event)">
        <ion-option value="relevance">Best Match</ion-option>
        <ion-option value="year+desc%2Ctitle+asc">Newest First</ion-option>
        <ion-option value="year+asc%2Ctitle+asc">Oldest First</ion-option>
        <ion-option value="author+asc%2Ctitle+asc">Author</ion-option>
        <ion-option value="title">Title</ion-option>
        <ion-option value="days_since_added+asc">Date Added</ion-option>
        <ion-option value="callnumber_sort">Call Number</ion-option>
        <ion-option value="popularity+desc">Total Checkouts</ion-option>
        <ion-option value="rating+desc">User Rating</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label item-left>Hide Covers</ion-label>
        <ion-checkbox item-right [(ngModel)]="hideCovers" (ngModelChange)="onHideCoversChange($event)"></ion-checkbox>
    </ion-item>
    <div *ngFor="let facet of facets" class="facet-header">
        <ion-item (click)="toggleFacet(facet)">
            <ion-label>{{facet.label}}</ion-label>
            <ion-icon mode="ios" name="{{facet.expand ? 'ios-arrow-up' : 'ios-arrow-down'}}" item-right></ion-icon>
        </ion-item>
        <div *ngIf="facet.expand">
            <ion-item *ngFor="let f of facet.facets">
                <ion-label>{{f.label}}</ion-label>
                <ion-checkbox [(ngModel)]="facetModel[facet.filterParam][f.value]" (ngModelChange)="onChange($event)"></ion-checkbox>
            </ion-item>
        </div>
    </div>
</ion-list>
<button ion-button block (click)="reset()" color="danger">Clear</button>