<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
  <ion-navbar color="navbar" text-right>
    <ion-buttons left>
      <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
    </ion-buttons>
    <ion-title>
      <span [innerHTML]="title"></span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" (ionScroll)="closeKeyboard()">

  <br>
  <div class="inputContainer">
    <ion-icon name="search" class="searchIcon"></ion-icon>
    <input class="searchInput" placeholder="Search Catalog" #searchbar [(ngModel)]="searchText" (keyup)="searchEvent($event)" (blur)="closeKeyboard()"
      type="search" />
      <button (click)="clearSearch()" ion-button icon-only clear no-margin *ngIf="searchText.length > 0">
        <ion-icon name="close" class="closeIcon"></ion-icon>
      </button>
    <a (click)="scan()" style="padding:0;" *ngIf="searchText.length == 0">
        <img src="assets/icon/icon_barcodescanner.svg" class="barcode" />
      </a>
  </div>

  <div *ngFor="let facetSet of facets">
    <span *ngFor="let facet of facetSet.facets">
      <ion-item *ngIf="facet.isApplied">
        Filter: {{facet.label}}
        <button color="danger" ion-button icon-only item-right (click)="removeFacet(facetSet.filterParam, facet.value)">
          <ion-icon name="close"></ion-icon>
        </button>  
      </ion-item>
    </span>
  </div>
  <ion-item-divider sticky class="displaySticky" *ngIf="searchResult">
    <span>Displaying {{searchResult.recordStart}} - {{searchResult.recordEnd}} of {{searchResult.recordCount}} | page {{page}}</span>
    <ion-icon name="ios-funnel" color="grey" item-right class="popover-image" (click)="applyFilters()"></ion-icon>
  </ion-item-divider>

  <div padding *ngIf="page > 1">
    <button color="secondary" ion-button item-left (click)="prev()">Previous</button>
    <span *ngIf="page != 1">&nbsp;&nbsp;</span>
    <button *ngIf="page != maxPage" class="buttonRight" ion-button item-right (click)="next()">Next</button>
  </div>

  <ion-list>
    <ion-item *ngFor="let result of results" (click)="goToBook(result)">
      <ion-thumbnail *ngIf="!hideCovers" item-left>
        <img src="{{pikaUrl}}bookcover.php?id={{result.id}}&size=medium&type=grouped_work">
      </ion-thumbnail>
      <h2 ion-text color="clickable"><strong>{{result.title_display}}</strong></h2>
      <h3>{{result.author_display}}</h3>
      <h4>{{result.publishDate}}</h4>
      <p>{{result.formats.join(", ")}}</p>
    </ion-item>
  </ion-list>

  <div padding *ngIf="results.length > 0">
    <button *ngIf="page != 1" color="secondary" ion-button (click)="prev()">Previous</button>
    <span *ngIf="page != 1">&nbsp;&nbsp;</span>
    <button *ngIf="page != maxPage" ion-button (click)="next()">Next</button>
  </div>

</ion-content>