<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding>Checkout Overdrive</h2>
  <div padding *ngIf="book && bookRecord">
    <h3>{{book.title_display}}</h3>
    <p>{{bookRecord.format}}</p>
  </div>
    <ion-item>
        <ion-label>Account: </ion-label>
        <ion-select [(ngModel)]="selectedAccount" (ionChange)="getProfile()">
            <ion-option *ngFor="let account of accounts" [value]="account">
                {{account.getName()}}
            </ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="isOverdrive && this.accounts.length > 0">
        <ion-label>Use Email from: </ion-label>
        <ion-select [(ngModel)]="emailSelect" (ionChange)="changeEmailSelect($event)">
            <ion-option value="enter">Manual Enter</ion-option>
            <ion-option value="overdrive">Overdrive</ion-option>
            <ion-option value="account">Account</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="isOverdrive">
        <ion-label class="inputlabel" fixed color="{{Email.length == 0 ? 'green' : 'black'}}">Email: </ion-label>
        <ion-input [(ngModel)]="Email" type="email" [disabled]="emailSelect === 'enter' ? false : true"></ion-input>
    </ion-item>
    <br><br>
    <div padding>
        <button ion-button block (click)="checkout()">Checkout</button>
    </div>
    <div padding-horizontal>
        <button ion-button block (click)="closeModal()" color="danger">Cancel</button>
    </div>
</ion-content>
