<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="has-header">
    <h2>{{book.title_display}} - ({{record.format}})</h2>
    <h3>Author: {{book.author_display}}</h3>
    <div><img src="{{pikaUrl}}bookcover.php?id={{record.bib}}&size=medium&format={{record.format}}" /></div>
    <p>Format: {{record.format}}</p>
    <p *ngIf="eBookDetails.length > 0 && (record.format == 'eBook' || record.format == 'eAudiobook')">Download Formats: {{eBookDetails}}</p>
    <p>Published: {{record.publisher}} {{record.detail}}</p>
    <p>Edition: {{record.edition}}</p>
    <p>Physical Desc: {{record.physicalDescription}}</p>
    <p>Language: {{record.language}}</p>
    <p>Copies: <ion-spinner *ngIf="!copiesAndHoldsLoaded"></ion-spinner><span *ngIf="copiesAndHoldsLoaded">{{copies}}</span></p>
    <p>Holds: <ion-spinner *ngIf="!copiesAndHoldsLoaded"></ion-spinner><span *ngIf="copiesAndHoldsLoaded">{{holds}}</span></p>
    <br/>
    <button *ngIf="!noHold" ion-button (click)="openHoldWindow(record)">Place Hold</button>
    <button *ngIf="noHold && overdrive" ion-button  (click)="checkOut(record)">Checkout</button>
    <button *ngIf="webview && !overdrive" ion-button  (click)="goToWebView(record)">Access from Web View</button>
    <h4>Copies</h4>
    <ion-list *ngIf="record" no-padding>
        <ion-item no-padding *ngFor="let item of record.items">
            <h3 id="itemLocation">{{item.location}}</h3>
            <p>Call Number: {{item.call}}</p>
            <p *ngIf="item.status && item.status.toLowerCase() === 'on shelf'">Last Check-in: {{item.lastCheckIn}}</p>
            <p>Status: 
                <span ion-text color="{{(item.status.toLowerCase().indexOf('on shelf') == 0  || item.status.toLowerCase().indexOf('available') >= 0) ? 'green' : 'grey'}}">
                    {{item.status.toLowerCase() === 'on shelf' ? 'Available' : item.status}}
                </span>
            </p>
        </ion-item>
    </ion-list>
    <button ion-button (click)="goToBibRecord()">View All Formats</button>
    <button ion-button (click)="goToWebView(record)">See Web View</button>
    <br>
</ion-content>
