<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content>
    <h2 padding>Category {{parentLabel ? '- ' + parentLabel : ''}} - {{label}}</h2>
    <div style="text-align:center;">
        <span *ngFor="let title of titles" (click)="goToBook(title.id)">
            <img src="{{title.url}}" />
        </span>
    </div>
    <ion-list>
        <ion-item *ngFor="let sub of subCategories" (click)="goToCategory(sub.id)">
            {{sub.label}}
        </ion-item>
    </ion-list>

    <div padding *ngIf="!nextPageAvailable" style="text-align: center">
        <span><strong>No More Titles</strong></span>
    </div>

    <ion-infinite-scroll *ngIf="nextPageAvailable && titles.length > 0" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>