<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content (ionScroll)="closeKeyboard()">
    <h2 padding>Events</h2>

    <div class="inputContainer">
        <ion-icon name="search" class="searchIcon"></ion-icon>
        <input class="searchInput" placeholder="Search Events" #searchbar [(ngModel)]="searchText" (keyup)="searchEvent($event)" (blur)="closeKeyboard()" type="search" />
    </div>

    <!--<ion-segment [(ngModel)]="view" color="dark">
      <ion-segment-button value="list">
        List
      </ion-segment-button>
      <ion-segment-button value="map">
        Map
      </ion-segment-button>
    </ion-segment>-->


    <ion-item-divider sticky class="displaySticky">Displaying <span *ngIf="eventsLoadedCount === 0">0</span><span *ngIf="eventsLoadedCount > 0">1</span>-{{eventsLoadedCount}} of {{totalEvents}} 
        <ion-icon name="ios-funnel" color="grey" item-right class="popover-image" (click)="showFilter($event)"></ion-icon>
    </ion-item-divider>

    <ion-list *ngIf="view === 'list'">
        <ion-item *ngFor="let item of events" (click)="goToEvent(item)">
            <h2 ion-text color="clickable">{{item.eventName }}</h2>
            <div *ngIf="item.locationName && item.streetAddressText">{{item.locationName}} - {{item.streetAddressText}}</div>
            <div>
                <span><i *ngIf="item.busStopNearInd"><ion-icon name="md-bus"></ion-icon></i></span>
                <span><i *ngIf="item.metroRailInd"><ion-icon name="md-train"></ion-icon></i></span>
                <span><i *ngIf="item.bikeShareInd"><ion-icon name="md-bicycle"></ion-icon></i></span>
                <span><i *ngIf="item.parkingAvailableCode=='Ample' || item.parkingAvailableCode=='Limited'"><ion-icon name="md-car"></ion-icon></i></span>
                <span *ngIf="item.busStopNearInd || item.metroRailInd || item.bikeShareInd || item.parkingAvailableCode=='Ample'"></span>
                <span *ngIf="item.latitude && item.longitude && coords">&#8226;{{(item.distanceInMeters/1609.34).toFixed(1)}} miles away.</span>
            </div>
            <div>
                <span>{{ item.eventStartDate | customdate:'MMM D'}}</span>
                &#8226;&nbsp;<span>{{item.eventStartDtm | customdate:'h:mm'}}-{{ item.eventEndDtm | customdate:'h:mma'}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="eventsToLoad < totalEvents" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


</ion-content>