<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->
<ion-content padding>
    <h4>{{event.eventName}}</h4>

    <!-- Row - When/where -->
    <ion-row>
        <ion-col width-50>
            <div><strong>When</strong></div>
            <div *ngIf="event.eventStartDate < event.eventEndDate">{{event.eventStartDate | customdate:'MMM DD'}} - {{event.eventEndDate | customdate:'MMM DD'}}</div>
            <div *ngIf="event.eventStartDate >= event.eventEndDate">{{event.eventStartDate | customdate:'MMM DD'}}</div>
            <div>{{event.eventStartDtm | customdate:'h:mma'}} - {{event.eventEndDtm | customdate:'h:mma'}}</div>
        </ion-col>

        <ion-col width-50 *ngIf="event.locationName || event.roomName || event.streetAddressText">
            <div><strong>Where</strong></div>
            <div *ngIf="event.locationName"><a (click)="goToLibrary()">{{event.locationName}}</a></div>
            <div *ngIf="event.roomName">{{event.roomName}}</div>
            <div *ngIf="event.streetAddressText">{{event.streetAddressText}}</div>
            <span><i *ngIf="event.busStopNearInd"><ion-icon name="md-bus"></ion-icon></i></span>
            <span><i *ngIf="event.metroRailInd"><ion-icon name="md-train"></ion-icon></i></span>
            <span><i *ngIf="event.bikeShareInd"><ion-icon name="md-bicycle"></ion-icon></i></span>
            <span><i *ngIf="event.parkingAvailableCode=='Ample' || event.parkingAvailableCode=='Limited'"><ion-icon name="md-car"></ion-icon></i></span>
        </ion-col>
    </ion-row>

    <!-- Row - Cost -->
    <ion-row>
        <ion-col>
            <div><strong>Free:&nbsp;</strong>{{event.freeOfChargeInd ? 'Yes' : 'No'}}</div>
            <div *ngIf="!event.freeOfChargeInd && event.eventCostDsc!=null"><strong>Cost Description:&nbsp;</strong>{{event.eventCostDsc}}</div>
        </ion-col>
    </ion-row>

    <!-- Registration requirement -->
    <ion-row *ngIf="event.registrationRequiredInd">
        <ion-col>
            <a *ngIf="event.registrationRequiredInd" (click)="openInBrowser(event.eventUrlText)">RSVP/Registration Required</a>
        </ion-col>
    </ion-row>

    <!-- Row Age -->
    <ion-row *ngIf="event.beginningAgeRangeQty">
        <ion-col>
            <!--<div><strong>Family Friendly:&nbsp;</strong>{{event.familyFriendlyInd ?  'Yes' : 'No'}}</div>-->
            <div><strong>Age:&nbsp;</strong><span>{{event.beginningAgeRangeQty}} - {{event.endingAgeRangeQty}}</span></div>
        </ion-col>
    </ion-row>

    <!-- Row - Contact Info-->
    <ion-row>
        <ion-col *ngIf="event.contactName || event.contactEmailText || event.contactPhoneNbr">
            <div><strong>Contact Details</strong></div>
            <div *ngIf="event.contactName">{{event.contactName}}</div>
            <div *ngIf="event.contactEmailText">{{event.contactEmailText}}</div>
            <a *ngIf="event.contactPhoneNbr" (click)="call(event.contactPhoneNbr)">{{event.contactPhoneNbr}}</a>
        </ion-col>
        
    </ion-row>

    <!-- Event Description Paragraph -->
    <br>
    <div>
        <div><strong>Event Description</strong></div>
        <div class="event-description" [innerHTML]="event.eventDsc"></div>
    </div>

    <!-- Row - Event Link -->
    <ion-row>
        <ion-col *ngIf="event.eventUrlText">
            <div><strong>Event Link</strong></div>
            <div><a (click)="openInBrowser(event.eventUrlText)">{{event.eventUrlText}}</a></div>
        </ion-col>
    </ion-row>

    <!-- Map View -->
    <br>
    <div *ngIf="event.locationLatitudeCrd && event.locationLongitudeCrd">
        <a [href]="mapUrl" target="_system">Open In Maps</a>
        <div id="map" #map></div>
    </div>

</ion-content>
