page-event {

  #map {
    height: 300px;
  }

  .event-description > * {
    font-size: 1em !important;
    padding-top: 5px;
  }

  ion-col {
    padding: 5px 0px 5px 0px;
  }

  .col {
    padding: 5px 0px 5px 0px;
  }
}