<ion-list>
    <ion-item>
      <ion-label>Sort By</ion-label>
      <ion-select [(ngModel)]="sortBy" (ngModelChange)="onSortChange($event)">
        <ion-option value="date">Date</ion-option>
        <ion-option value="location">Location</ion-option>
      </ion-select>
    </ion-item>

    <!--<ion-item-divider color="light">Location Settings</ion-item-divider>-->
    <!--<ion-item>
        <ion-label>Current Location</ion-label>
        <ion-toggle checked="true"></ion-toggle>
    </ion-item>-->

    <ion-item>
      <ion-label>Within</ion-label>
      <ion-select [(ngModel)]="within" (ngModelChange)="onWithinChange($event)">
        <ion-option value="0.5">0.5 miles</ion-option>
        <ion-option value="1">1 mile</ion-option>
        <ion-option value="2">2 miles</ion-option>
        <ion-option value="5">5 miles</ion-option>
        <ion-option value="10">10 miles</ion-option>
        <ion-option value="25">25 miles</ion-option>
        <ion-option value="-1">All</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Location</ion-label>
      <ion-select [(ngModel)]="locationName" (ngModelChange)="onLocationNameChange($event)">
        <ion-option value="All">All</ion-option>
        <ion-option *ngFor="let library of libraries" [value]="library.name">
          {{library.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <!--<ion-item>
      <ion-label>Transit Filters</ion-label>
      <ion-select [(ngModel)]="location" (ngModelChange)="onLocationChange($event)" multiple="true">
        <ion-option value="bus">Near Bus</ion-option>
        <ion-option value="metro">Near Metro</ion-option>
        <ion-option value="bike">Near Bike Share</ion-option>
        <ion-option value="parking">Parking Available</ion-option>
      </ion-select>
    </ion-item>-->

    <!--<ion-item-divider color="light">Transit Filters</ion-item-divider>-->
    <ion-item>
        <ion-label><ion-icon name="md-bus"></ion-icon> Near Bus</ion-label>
        <ion-checkbox [(ngModel)]="nearBus" (ngModelChange)="onNearBusChange($event)"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="md-train"></ion-icon> Near Metro</ion-label>
        <ion-checkbox [(ngModel)]="nearMetro" (ngModelChange)="onNearMetroChange($event)"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="md-bicycle"></ion-icon> Near Bike Share</ion-label>
        <ion-checkbox [(ngModel)]="nearBike" (ngModelChange)="onNearBikeChange($event)"></ion-checkbox>
    </ion-item>
    <ion-item>
        <ion-label><ion-icon name="md-car"></ion-icon> Parking Available</ion-label>
        <ion-checkbox [(ngModel)]="nearParking" (ngModelChange)="onNearParkingChange($event)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <button ion-button (click)="apply()">Apply Filters</button>
  <button ion-button color="secondary" (click)="cancel()">Cancel</button>
  <button ion-button color="red" (click)="reset()">Reset</button>