<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
        </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content>
    <h2 padding-left>FAQ's</h2>
    <ion-list>
        <ion-item *ngFor="let faq of faqs" text-wrap>
            <h2 id="h2format"><strong [innerHtml]="faq.title"></strong></h2>
            <p [innerHtml]="faq.content"></p>
        </ion-item>
    </ion-list>
</ion-content>