<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content>
    <h2 padding-left>Help</h2>
    <ion-list>
        <ion-item (click)="goToFAQs()">FAQs</ion-item>
        <ion-item (click)="goToLibraries()">Contact a Library</ion-item>
        <ion-item (click)='accountHelp()'>Library Account Help</ion-item>
        <ion-item (click)='feedbackHelp()'>App Feedback</ion-item>
    </ion-list>
</ion-content>