page-update {
    
    input {
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 6px 0 6px 8px;
        width: 100%;
        line-height: 3rem; 
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
    }

    .item-md [item-right] {
        margin: 0 8px 0 0;
    }

}