<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding-left padding-top>Update Account Credentials</h2>
  <form (ngSubmit)="update()">
    <div ion-item padding-left padding-bottom no-lines>
      <input [(ngModel)]="inputs.username" placeholder="Barcode or Username" spellcheck="false" name="username">
    </div>
    <div ion-item padding-left padding-bottom no-lines>
      <input [(ngModel)]="inputs.password" placeholder="Password" spellcheck="false" name="password" type="password">
    </div>
    <div padding>
      <a (click)="requestPinReset()">Forgot your PIN/Password?</a>
    </div>
    <div padding-horizontal>
      <button ion-button block color="primary">Update</button>
    </div>
  </form>
  <div padding>
      <button ion-button block color="danger" (click)="removeAccount()">Remove Account</button>
    </div>
  <div padding-horizontal>
    <button ion-button block color="danger" (click)="dismiss(false)">Cancel</button>
  </div>
</ion-content>