<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="has-header">
    <div *ngIf="library">
    <h2>{{library.name}}</h2>
    <img *ngIf="library.image" src="{{library.image}}"/>
    <p *ngFor="let phone of library.phoneNumbers">
        <b>{{phone.title}}</b> - <a color="clickable" (click)="call(phone.number)">{{phone.number}}</a>
    </p>
    <p><a (click)="openInMaps(library)">{{library.address}}</a></p>
    
    <h3 *ngIf="loaded"><strong ion-text color="clickable">{{library.currentlyOpen ? "Open Now" : "Closed"}}</strong></h3>
    <h3>Hours</h3>
    <ion-list no-padding>
        
        <ion-item no-padding *ngFor="let hour of library.hours">
            <span>{{hour.date | customdate:'ddd, MMM DD' }}</span>
            <span item-right>{{hour.hoursFormatted}}</span>
        </ion-item>
    </ion-list>
    
    <p>
        <a href="{{library.url}}" target="_system">More details (external site)</a>
    </p>
    
        <div id="librarymap" #librarymap class="show-map"></div>
        <p>{{library.contact}}</p>
    </div>
    
</ion-content>
