<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <h2 padding-horizontal>Library Locations</h2>
  <ion-segment [(ngModel)]="view" color="dark">
    <ion-segment-button value="all" (ionSelect)="hideMap()">
      All
    </ion-segment-button>
    <ion-segment-button value="map" (ionSelect)="showMap()">
      Map
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="view === 'all'">
    <ion-item>
      <ion-label>Open Now</ion-label>
      <ion-toggle [(ngModel)]="openNow"></ion-toggle>
    </ion-item>
    <ion-list padding-top>
      <div *ngFor="let library of libraries">
        <ion-item *ngIf="!openNow || library.currentlyOpen" (click)="goToLibrary(library.id)">
          <h2 ion-text color="clickable">{{library.parentLibrary ? library.parentLibrary.name : ''}} {{library.name}}</h2>
          <h3 *ngIf="library.currentlyOpen">Open Today: {{library.hoursFormatted}}</h3>
          <h3 *ngIf="!library.currentlyOpen">{{library.hoursFormatted}}</h3>
          <p *ngIf="library.distance">{{library.distance.toFixed(2) }} miles</p>
        </ion-item>
      </div>
    </ion-list>
    <p class="update" padding-horizontal ion-text color="grey">Last Updated {{lastUpdate | customdate:'hh:mm a'}}</p>
  </div>

  <div *ngIf="view === 'map'"></div>

  <div padding id="map" #map [ngClass]="mapClass"></div>

</ion-content>
