page-libraries {
    .update {
        size: .7rem;
    }

  .hide-map { 
    visibility: hidden;
    height: 1px;
  }

  .show-map {
    margin-top: 6px;
    visibility: visible;
    height:75%;
  }
}
