<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
        </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="selectedAccount">
        <ion-card margin-bottom class="alert" *ngIf="selectedAccount.expiresAlert">
            <ion-item>
                <span style="width:100%">
                    <strong>Your library account has expired. Please visit a library location to update your library account.</strong>
                </span>
            </ion-item>
        </ion-card>
        <ion-card margin-bottom class="warning" *ngIf="selectedAccount.checkoutsWarning && !selectedAccount.checkoutsAlert">
            <ion-item>
                <span style="width:100%">
                    <strong>Checkouts are due soon.</strong>
                </span>
            </ion-item>
        </ion-card>
        <ion-card margin-bottom class="alert" *ngIf="profile?.update" (click)="goToUpdate()">
            <ion-item>
                <span style="width:100%">
                    <strong>Your library account credentials are out of date.  Tap here to resolve.</strong>
                </span>
            </ion-item>
        </ion-card>
    </div>

    <ion-toolbar color="white">
        <ion-buttons left>
            <button ion-button icon-left icon-only color="white" >
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title><span>My Accounts</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-right icon-only color="primary" (click)="goToReorder()">
                <ion-icon name="settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

    <ion-item class="avatar-group" no-padding no-lines no-margin>
        <div *ngFor="let account of localAccounts$ | async" class="avatar">
            <ion-avatar (click)="onChange(account)" margin-horizontal>
                <img *ngIf="selectedAccount?.username !== account.username" src="assets/icon/icon_account_default2.png" />
                <img *ngIf="selectedAccount?.username === account.username" src="assets/icon/icon_account_active.png" />
                <img *ngIf="account.anyAlerts()" src="assets/icon/icon_account_alert.svg" class="account-alert" />
            </ion-avatar>
            <div class="avatar-label">{{account.getName()}}</div>
        </div>
    </ion-item>


    <div padding-horizontal>
        <div class="buttonContainer" [style.background-color]="checkoutsOverdue > 0 ? '#BE0A00' : '#005cb8'" (click)="goToCheckouts()">
            <div class="buttonIconContainer"><ion-icon name="cart" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> Checked Out</span>
            <span class="buttonNumber">{{(profile && checkouts !== null) ? checkouts.length : ''}}</span>
        </div>
    </div>
    <div padding>
        <div class="buttonContainer" [style.background-color]="profile?.numHoldsAvailableIls + profile?.numHoldsAvailableOverDrive > 0 ? '#8BC53F' : '#005cb8'" (click)="goToHolds()">
            <div class="buttonIconContainer"><ion-icon name="hand" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> On Hold</span>
            <span class="buttonNumber" *ngIf="(profile?.numHoldsAvailableIls + profile?.numHoldsAvailableOverDrive) == 0">{{(profile?.numHoldsIls + profile?.numHoldsOverDrive + 0) || ''}}</span>
            <span class="buttonNumber" *ngIf="(profile?.numHoldsAvailableIls + profile?.numHoldsAvailableOverDrive) > 0">{{(profile?.numHoldsAvailableIls+ profile?.numHoldsAvailableOverDrive + 0) || ''}} Ready of {{(profile?.numHoldsIls + profile?.numHoldsOverDrive + 0) || ''}}</span>
        </div>
    </div>
    <div padding-horizontal>
        <div class="buttonContainer" [style.background-color]="profile?.finesVal > 10 ? '#BE0A00' : '#005cb8'" (click)="goToFines()">
            <div class="buttonIconContainer"><ion-icon name="cash" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> Fines and Messages</span>
            <span class="buttonNumber">{{ profile && profile.finesVal ? '$' + profile.finesVal.toFixed(2) : ''}}</span>
        </div>
    </div>
    <!--
    <div padding>
        <div class="buttonContainer" [style.background-color]="'#005cb8'" (click)="goToLists()">
            <div class="buttonIconContainer"><ion-icon name="list" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> My Lists</span>
            <span class="buttonNumber">{{profile && lists ? lists.length : ''}}</span>
        </div>
    </div>
    -->
    <div padding>
        <div class="buttonContainer" [style.background-color]="selectedAccount?.expiresAlert ? '#BE0A00' : '#005cb8'" (click)="goToAccount()">
            <div class="buttonIconContainer"><ion-icon name="information-circle" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> Account Information</span>
        </div>
    </div>
    
    <div padding-horizontal>
        <div class="buttonContainer" [style.background-color]="'#005cb8'" (click)="showBarcode()">
            <div class="buttonIconContainer"><ion-icon name="barcode" item-left class="buttonIcon"></ion-icon></div>
            <span class="buttonText"> My Digital Library Card</span>
        </div>
    </div>
 
    <br/>
</ion-content>
