page-account {
    .barcode-container {
        font-size:16px;
        text-align: center;
    }

    ion-select {
        max-width: 100%;
        width: 100%;
    }

    .list-md {
        margin-bottom: 0px;
    }

    .item-select ion-label {
    max-width: 75px;
    min-width: 75px;
    }

    #select-option {
    margin-right: auto;
    width: 100%;
    }

    .avatar {
        position: relative;
    }

    .avatar ion-avatar .account-alert { 
        width: 20px;
        height: 20px;
        top:1px;
        right:12px;
        position: absolute;
    }

    .avatar-selected ion-avatar img { 
        width: 45px;
        height: 45px;
        margin: 0 auto;
    }

    .avatar-selected ion-avatar .account-alert { 
        width: 20px;
        height: 20px;
        position:absolute;
        top:1px;
        right:12px;
    }

    .selected { 
        font-weight:bold;
        color: color($colors, primary);
        font-size: 110%;
    }

    .alert > *,  {
        color: #fff;
    }

    .alert ion-label {
        white-space: normal;
    }

    ion-card.alert {
        background-color: color($colors, danger);
        color:#fff;
    }

    ion-card.warning {
        background-color: color($colors, grey);
    }

    .warning > *,  {
        color: #fff;
    }

    ion-toolbar ion-buttons{
        margin-left: 12px;
        margin-right: 8px;
    }

    ion-toolbar ion-title{
        span{
            font-size: 1.4em;
        }
        text-align: center;
    }

    .buttonContainer{
        display: flex;
        height: 3.6rem;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0)
    }

    .buttonIconContainer{
        margin: 0px 14px;
    }

    .buttonIcon {
        color: white;
        vertical-align: middle;
        line-height: 3.6rem;
        font-size: 1.6em;
    }

    .buttonText {
        color: white;
        vertical-align: middle;
        line-height: 3.6rem;
        font-size: 1.3em;
        flex: 2;
        display: inline-block;
    }

    .buttonNumber{
        color: white;
        vertical-align: middle;
        line-height: 3.6rem;
        font-size: 1.3em;
        margin-right: 6px;
    }

}