// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #34393E;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  //Henrikh's color pallette
  blue: #005cb8,
  red: #BE0A00,
  grey: #34393E,
  yellow: #ffff99,
  purple: #cc3366,
  green: #8BC53F,
  black: #000,

  //ionic variables
  primary:    #005cb8,
  secondary:  #2e8be8,
  danger:     #BE0A00,
  light:      #ffff99,
  dark:       #000,
  favorite:   #AFD136,

  navbar:     #34393E,
  clickable:  #005cb8,

  //arlington variables (deprecated)
  white: #fff
);


// App Theme
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";

$content-padding: 12px;
$item-md-padding-left: 12px;
$card-md-padding-left: 12px;

.content-md {
  background-color: #FFF;
  background-size: cover;
}

ion-app .item-md { 
  background-color:inherit;
}

$item-md-paragraph-text-color: $text-color;

* {
  font-family: 'Ubuntu', sans-serif;
}