page-accountsManagement {
    input{
    text-align:right;
    }

    .textRight{
        float: right;
    }

    .avatar-font {
        font-size:12vw;
    }
    
    hr{
        margin: 0px;
    }
}