<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <h2 padding no-margin>Account Information</h2>
  <div>
      <ion-list no-lines>
        <ion-item>Nickname: <span class="textRight">{{getCurrentAccount().getName()}}</span></ion-item>
        <ion-item>
          <ion-label>Holds Pickup:</ion-label> 
          <ion-select [(ngModel)]="homeLibraryCode" (ionChange)="changeLocation($event)">
            <ion-option *ngFor="let library of libraryList" value="{{library.campusId}}">{{library.name}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item><ion-label><i>* Above settings apply only to this app.</i></ion-label></ion-item>
        <hr>
        <ion-item>Full Name: <span class="textRight">{{(profile$ |async)?.fullname}}</span></ion-item>
        <ion-item>Library Card Number: <span class="textRight">{{(profile$ |async)?.cat_username}}</span></ion-item>
        <ion-item>Expiration Date: <span class="textRight" ion-text color="{{account.expiresAlert ? 'red' : 'black'}}">{{(profile$ |async)?.expires}}</span></ion-item>
        <ion-item>Address1: <span class="textRight">{{(profile$ |async)?.address1}}</span></ion-item>
        <ion-item>Address2: <span class="textRight">{{(profile$ |async)?.address2}}</span></ion-item>
        <ion-item>Primary Phone Number: <span class="textRight">{{(profile$ |async)?.phone}}</span></ion-item>
        <ion-item>Email Address: <span class="textRight">{{(profile$ |async)?.email}}</span></ion-item>
      </ion-list>
  </div>
  <br><br>
</ion-content>
