<ion-menu side="left" persistent='true' [content]="mycontent">
  <ion-header>
  </ion-header>
  <ion-content id="side-menu">
    <ion-item no-lines>&nbsp;</ion-item>
    <ion-list>
        <ion-item *ngFor="let menu of menuItems" (click)="go(menu)" menuClose>
            {{menu.name}}
            <img src="assets/icon/icon_arrow_1.png" item-right/>
        </ion-item>
    </ion-list>
    <div padding class="footer">
      {{copyright}}
    </div>
  </ion-content>
</ion-menu>


<ion-nav #mycontent [root]="rootPage"></ion-nav>