// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is



#side-menu {
    background-color: rgba(0,0,0,.8);
    background-image: inherit;
    color:white;
}


ion-menu 
{ 
    .label-md {
        color:white;
    }

    img {
        max-height:18px;
    }

    .footer {
        position:fixed;
        bottom:0;
    }
}

.menu-button { 
    height:30px;
}


.avatar {
    display:inline-block;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
    div {
        width: 75px;
        height: 23px;
    }
    .avatar-label {
        overflow: hidden;
        margin: 0px 6px;
        width: 65px;
    }
}

.item-select .label-md {
    color: color($colors, grey);
}

.avatar-group ion-label { 
    white-space: normal;
    text-align: center;
    margin-right: 0;
}

.avatar-group .label-md {
    margin-right: 0;
}

.avatar-group.item-md {
    padding: 0 12px;
}

.avatar-group.item-md div.item-inner{
    padding: 0;
}

.avatar ion-avatar img {
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.avatar-label {
    width: 60px;
    font-size:90%;
}

.popover-content { 
    height: 85%;
}

 .item-md ion-thumbnail img{
    height:inherit;
}

.inputContainer {
    display:flex;
    background-color: white;
    margin: 2px 12px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.inputContainer > * {
    padding: 9px 6px;
}

.searchIcon {
    font-size: 2.2rem;
    color: #666;
}

.searchInput {
    border: 0;
    font-size: 1.8rem;
    flex: 2;
}

.barcode {
    font-size: 2.2rem;
    color: #666;
    padding:0;
    margin: 9px 6px 0 0;
    height: 22px;
}

.account-default {
    height: 45px;
}

.account-add {
    height: 40px;
}

.toolbar-title-md {
    font-weight: normal;
    font-size: 1.75rem;
}

.bold-headline { 
    font-weight: 900;
}

.menu-button { 
    height: 38px;
}

.bar-button-md { 
    height: 38px;
}

a:active {
    opacity: .7;
}