<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
        </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-scroll style="height: 100%">
    <ion-toolbar color="white">
        <ion-title><span>Edit Accounts</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-right icon-only color="primary" (click)="openModal()">
                <ion-icon name="person-add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
    <p padding-horizontal *ngIf="message">{{message}}</p>
    <p padding-horizontal>Accounts can be added, removed, and reordered from this page. Clicking the name of an account will let you edit the nickname of the associated account.</p>

    <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
        <ion-item *ngFor="let account of accounts">
            <button (click)="removeAccount(account)" clear item-left ion-button icon-only>
                <ion-icon name="remove-circle" color="danger"></ion-icon>
            </button>
            <ion-avatar item-left>
                <img src="assets/icon/icon_account_default.png" class="account-default" />
            </ion-avatar>
            <input style="border:none;" type="text" [value]="account.getName()" #nickname (blur)="setNickname(account, nickname)" />
            <button ion-button item-right icon-only clear (click)="goToAccount(account)">
                <ion-icon color="primary" name="settings"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>
