<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div class="topbackground">
    <div *ngIf="showAlerts">
      <ion-card *ngFor="let alert of alerts" margin-bottom class="alert">
        <ion-item>
          <span (click)="goToAlert(alert)" style="width:100%">
            <strong [innerHtml]="alert.alertText"></strong>
          </span>
          <ion-icon (click)="dismissAlert(alert)" padding-left item-right name="close-circle"></ion-icon>
        </ion-item>
      </ion-card>
    </div>

    <div margin-vertical>
      <ion-item padding-top no-lines class="avatar-group">
        <div *ngFor="let account of localAccounts$ | async" class="avatar">
          <ion-avatar (click)="goToAccount(account)" margin-horizontal>
            <img src="assets/icon/icon_account_default.png" class="account-default" />
            <img *ngIf="account.anyAlerts()" src="assets/icon/icon_account_alert.svg" class="account-alert" />
          </ion-avatar>
          <div class="avatar-label">{{account.getName()}}</div>
        </div>
      </ion-item>
    </div>

    <div padding-vertical>
      <div class="inputContainer">
          <ion-icon name="search" class="searchIcon" (click)="goToCatalog()"></ion-icon>
          <input type="search" placeholder="Search Catalog" class="searchInput" (focus)="goToCatalog()" />
          <a style="padding:0;" id="scan-link" (click)="scan()">
          <img id="scan-img" src="assets/icon/icon_barcodescanner.svg" class="barcode" />
        </a>
      </div>
    </div>

    <ion-segment margin-vertical [(ngModel)]="view" color="white">
        <ion-segment-button value="hot" *ngIf="showNews">
          Buzz
        </ion-segment-button>
        <ion-segment-button value="lists">
          New
        </ion-segment-button>
        <ion-segment-button value="events" *ngIf="showEvents">
          Events
        </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="view === 'hot'">
    <div *ngFor="let new of news" padding-horizontal>
      <div *ngIf="new.imageUrl" class="news" (click)="goToNewsItem(new)">
        <img *ngIf="!new.sticky" [src]="new.imageUrl" />
        <img *ngIf="new.sticky" id="placeholderimg" />
        <div class="title" [className]="new.sticky ? 'title title-sticky' : 'title'">
          <span [innerHtml]="new.title"></span>
        </div>
      </div>
    </div>
    <ion-item ion-text color="clickable" (click)="goToNews()" padding-top>
        See All News
    </ion-item>
    <br>
  </div>

  <div padding *ngIf="view === 'lists'">
    <!-- Cards -->
    <div style="text-align: center;">
      <span *ngFor="let title of featuredTitles" (click)="goToBook(title.id)">
        <img src="{{pikaUrl}}{{title.image}}" />
      </span>
    </div>
    <ion-item ion-text color="clickable" (click)="goToBrowse()" padding-top>
        View All Lists
    </ion-item>
  </div>

  <div margin-vertical *ngIf="view === 'events'">
    <ion-list>
      <ion-item *ngFor="let event of events" (click)="goToEvent(event)">
        <h2 ion-text color="clickable">{{event.eventName}}</h2>
        <p>
          <span *ngIf="event.locationName">{{event.locationName}}<br/></span>

          {{event.eventStartDate | customdate:'MMM D'}} &#8226;&nbsp; {{event.eventStartDtm | customdate:'h:mma'}}
        </p>
      </ion-item>
    </ion-list>
    <a ion-item ion-text color="clickable" (click)="goToEvents()">View All Events</a>
  </div>
</ion-content>

