page-home {

    .topbackground {
        padding-top: 1px;
        background-color: color($colors, secondary);
    }

    .alert > *,  {
        color: #fff;
    }

    .alert ion-label {
        white-space: normal;
    }

    ion-card.alert {
        background-color: color($colors, danger);
        color:#fff;
    }

    .card-ios ion-card-header, .card-md ion-card-header {
        color:#fff;
    }

    ion-chip.chip-ios, ion-chip.chip-md {
        width: 100%;
    }

    .item-block {
        min-height: 0;
    }

    .label-md {
        margin: 10px 8px 10px 0px;
    }

    .avatar {
        position:relative;
    }

    .avatar-label {
        width: 75px;
        font-size:90%;
        color: white;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        width: 45px;
        height: 45px;
        margin: 0 auto;
    }

    .item-md ion-avatar .account-alert  {
        width: 20px;
        height: 20px;
        position: absolute;
        top:1px;
        right:12px;
    }

    ion-card img {
        width: auto;
    }

    #placeholderimg {
      height: 72px;
    }

    div .news .title-sticky {
      background-color: #005cb8;
    }

    ion-card.featured {
        background-color: white;
    }

    .news {
        width:100%;
        text-align: center;
        position: relative;
        margin-bottom: 12px;
    }

    .news img {
        width: 100%;
    }

    .news .title {
        color:white;
        background-color: rgba(0,0,0,.6);
        position: absolute;
        bottom:3px;
        height:72px;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        line-height: 65px;
    }

    .news .title span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

    .segment-md .segment-button {
        font-size:1.5rem;
    }
}
