<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <h2 padding-left padding-top>Freeze Title?</h2>

    <ion-list>
        <ion-item text-wrap>
            <h3><strong>Title: </strong>{{selectedItem.title}}</h3>
            <h4 *ngIf="selectedItem.author"><strong>Author: </strong>{{selectedItem.author}}</h4>
        </ion-item>
    </ion-list>

    <ion-item>
        <ion-label color="black">Freeze Until</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="{{getDates(0)}}" max="{{getDates(1)}}" [(ngModel)]="freezeUntil"></ion-datetime>
    </ion-item>
    <br>

    <div padding>
        <button ion-button block color="primary" (click)="freezeItems(selectedItem)">Freeze</button>
    </div>
    <div padding-horizontal>
        <button ion-button block color="danger" (click)="dismiss()">Cancel</button>
    </div>

</ion-content>