<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
  
  <h2 padding>On Hold</h2>

  <ion-list no-padding no-lines>
    <ion-item>
        <ion-label>Sort By:</ion-label>
        <ion-select [(ngModel)]="sortBy" (ionChange)="sort($event)">
            <ion-option value="title">Title</ion-option>
            <ion-option value="author">Author</ion-option>
            <ion-option value="format">Format</ion-option>
            <ion-option value="currentPickupName">Pickup Location</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Display Thumbnails?</ion-label>
        <ion-toggle [(ngModel)]="displayThumbnails" checked="true"></ion-toggle>
    </ion-item>
    </ion-list>
  
  <ion-list>
    <ion-list-header (click)="showReady = showReady ? false : true">
        Holds Ready <ion-badge item-right color="green">{{holdsReady.length || 0}}</ion-badge>
    </ion-list-header>
    <div *ngIf="showReady">
            <ion-item *ngFor="let hold of holdsReady" (click)="holdsReadyAction(hold)">
                <ion-thumbnail *ngIf="displayThumbnails" item-left>
                    <img src="{{hold.coverUrl}}">
                </ion-thumbnail>
                <h3 ion-text color="clickable">{{hold.title}}</h3>
                <h4 *ngIf="hold.author"><strong>Author: </strong>{{hold.author}}</h4>
                <p><strong>Format: </strong>{{hold.format}}</p>
                <p *ngIf="!hold.overDriveId"><strong>Pickup: </strong>{{hold.currentPickupName}}</p>
                <p *ngIf="!hold.overDriveId"><strong>Status: </strong>{{hold.status}}</p>
                <p *ngIf="hold.expire.getTime()"><strong>Expires: </strong>{{hold.expire | customdate:'MMM DD, YYYY'}}</p>
                <p *ngIf="hold.overDriveId"><strong>Position: </strong>{{hold.holdQueuePosition}}</p>
            </ion-item>
    </div>
    <br><br>

    <ion-list-header (click)="showNotReady = showNotReady ? false : true">
        Holds Not Ready <ion-badge item-right>{{holdsNotReady.length || 0}}</ion-badge>
    </ion-list-header>
    <div *ngIf="showNotReady">
            <ion-item *ngFor="let hold of holdsNotReady" (click)="holdsNotReadyAction(hold)">
                <ion-thumbnail *ngIf="displayThumbnails" item-left>
                    <img src="{{hold.coverUrl}}">
                </ion-thumbnail>
                <h2 ion-text color="clickable">{{hold.title}}</h2>
                <h3 *ngIf="hold.author"><strong>Author: </strong>{{hold.author}}</h3>
                <p><strong>Format: </strong>{{hold.format}}</p>
                <p *ngIf="!hold.overDriveId"><strong>Pickup: </strong>{{hold.currentPickupName}}</p>
                <p *ngIf="!hold.overDriveId"><strong>Status: </strong>{{hold.status}}</p>
                <p *ngIf="!hold.overDriveId"><strong>Cancels On: </strong>{{hold.automaticCancellation | customdate:'MMM DD, YYYY'}}</p>
                <p *ngIf="hold.overDriveId"><strong>Position: </strong>{{hold.holdQueuePosition}}</p>
                <ion-icon *ngIf="hold.frozen" name="snow" item-right color="primary"></ion-icon>
                <ion-icon *ngIf="hold.selected && !hold.frozen" name="snow" item-right></ion-icon>
            </ion-item>
    </div>
  </ion-list>

</ion-content>