<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
  
  <h2 padding>Fines</h2>
    <div *ngIf="total > 0">
        <ion-list>
            <ion-item *ngFor="let fine of fines" text-wrap>
                <div *ngIf="fine.reason.indexOf('nbsp') != 1">
                    <h2 [innerHTML]="fine.reason"></h2>
                </div>
                <h3>{{fine.message}}</h3>
                <p *ngFor="let detail of fine.details"><strong>{{detail.label}}</strong> {{detail.value}}</p>
                <p item-right>${{fine.amount.toFixed(2)}}</p>
            </ion-item>
            <ion-item>
                <h2><strong>Total</strong></h2>
                <h2 item-right><strong>${{total.toFixed(2)}}</strong></h2>
            </ion-item>
        </ion-list>

        <div padding>
            <button ion-button block color="primary" (click)="payFines()">Pay Fines</button>
        </div>
    </div>

    <div *ngIf="total == 0 && loaded">
        <h3>No Fines currently on this account</h3>
    </div>

</ion-content>
