page-intro {
    ion-content {
        background: url("../assets/icon/totorial_bkgd.png");
    }

    ul {
        text-align: left;
    }

    ion-toolbar {
        .toolbar-background {
            background: transparent;
        }
    }

    .slide-zoom {
        height: 100%;
    }

    p {
        margin: 0px;
    }

    ul {
        margin: 0px;
    }

    h1{
        margin-top: 1.5em;
    }

    #spacer {
        height: 10%;
    }
}