<ion-content>
    <ion-slides pager parallax="true" padding>
        <ion-slide *ngFor="let slide of slides; let i = index">
            <ion-toolbar>
                <ion-buttons end>
                    <button ion-button (click)="navHome()" color="primary">Skip</button>
                </ion-buttons>
            </ion-toolbar>
            <div *ngIf="i == 0" id="spacer"></div>
            <img [src]="slide.image" class="slide-image" />
            <h1 class="slide-title" *ngIf="slide.title" [innerHTML]="slide.title"></h1>
            <p [innerHTML]="slide.description"></p>
        </ion-slide>

        <ion-slide>
          <ion-toolbar></ion-toolbar>
            <div id="spacer"></div>
            <img src="assets/icon/tutorialicon_1.png">
            <h1>Get started now!</h1>
            <button ion-button outline small (click)="navHome()">
                Start using the app
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>