<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button (click)="dismiss()">
                <ion-icon name="md-arrow-back" item-left></ion-icon>
            </button>
      </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="profile">
        <h2 *ngIf="account" no-lines>{{account.getName()}}'s Library Card</h2>
        <img id="code128"/>
    </div>
    <p>Use this digital card with your PIN at self-checkout stations</p>
</ion-content>