<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding-left padding-top>Account Lists</h2>

  

  <ion-list>
        <ion-item *ngFor="let list of lists$ | async" text-wrap>

            <div (click)="goToListTitles(list)">
                <h2>{{list.title}}</h2>
            
                <h3>{{list.description}}</h3>
                <h3>Number of titles: {{list.numTitles}}</h3>
                <h3>{{list.public ? "Public" : "Private"}}</h3>
            </div>
        </ion-item>
    </ion-list>
</ion-content>