<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h2 padding-left padding-top>{{list?.title}}</h2>
  <ion-list>
        <ion-item *ngFor="let title of titles$ | async" text-wrap>
            <div>
                <h2>{{title.title}}</h2>
                <h3>{{title.notes}}</h3>
                <p>{{title.description}}</p>
            </div>
            
        </ion-item>
    </ion-list>
</ion-content>