<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
        <ion-buttons left>
            <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
        </ion-buttons>
        <ion-title>
            <span [innerHTML]="title"></span>
        </ion-title>
    </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content padding>
    <div *ngIf="loaded">
        <h2 [innerHtml]="newsItem.title"></h2>
        <div [innerHtml]="newsItem.content"></div>
        <a (click)="goToNewsItem()">View in Browser</a>
    </div>
</ion-content>