<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>


<!-- CONTENT -->

<ion-content>
    <h2 padding>News</h2>

    <ion-list>
        <ion-item *ngFor="let new of news" (click)="goToNew(new)">
            <h2 ion-text color="clickable" [innerHtml]="new.title"></h2>
            <p [innerHtml]="new.excerpt"></p>
        </ion-item>   
    </ion-list>

    <ion-infinite-scroll *ngIf="nextPageAvailable" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>