<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <h2 padding no-margin>Notifications</h2>
    <p padding-left padding-right padding-bottom no-margin style="font-size: 1.6rem">Receive push notifications to your device for all library accounts connected to this app.</p>
    <ion-list>
        <ion-item>
            <ion-label>Holds Ready</ion-label>
            <ion-checkbox [(ngModel)]="inputs.holdsEnabled" (ngModelChange)="updateSettings($event)"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Overdues</ion-label>
            <ion-checkbox [(ngModel)]="inputs.overduesEnabled" (ngModelChange)="updateSettings($event)"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Fines Over $10</ion-label>
            <ion-checkbox [(ngModel)]="inputs.finesEnabled" (ngModelChange)="updateSettings($event)"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Alerts</ion-label>
            <ion-checkbox [(ngModel)]="inputs.alertsEnabled" (ngModelChange)="updateSettings($event)"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>