<!-- HEADER  -->
<!-- Should be the same on almost all pages -->
<ion-header>
    <ion-navbar color="navbar" text-right>
      <ion-buttons left>
        <button ion-button menuToggle>
          <img class="menu-button" src="assets/icon/btn_menuicon.png" />
        </button>
      </ion-buttons>
      <ion-title>
          <span [innerHTML]="title"></span>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <h2 padding>Checked Out</h2>
    <div padding-horizontal>
        <button padding ion-button color="primary" (click)="renewAll()" *ngIf="!selectMode">Renew All</button>
        <button padding ion-button color="primary" (click)="enableSelectMode()" *ngIf="!selectMode">Select &amp; Renew</button>
        <button padding ion-button color="primary" (click)="renewSelected()" *ngIf="selectMode">Renew Selected</button>
        <button padding ion-button color="danger" (click)="cancelSelect()" *ngIf="selectMode">Cancel</button>
    </div>
    <ion-list no-padding no-lines>
        <ion-item>
            <ion-label>Sort By:</ion-label>
            <ion-select [(ngModel)]="sortBy" (ionChange)="sort($event)">
                <ion-option value="title">Title</ion-option>
                <ion-option value="author">Author</ion-option>
                <ion-option value="daysUntilDue">Due Date</ion-option>
                <ion-option value="format">Format</ion-option>
                <ion-option value="renewCount">Times Renewed</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Display Thumbnails?</ion-label>
            <ion-toggle [(ngModel)]="displayThumbnails" checked="true"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list>
            <ion-item #item *ngFor="let checkout of checkouts$ | async" (click)="presentActionSheet(checkout)">
                <ion-checkbox *ngIf="selectMode" [(ngModel)]="selectedCheckouts[checkout.id]"></ion-checkbox>
                <ion-thumbnail *ngIf="displayThumbnails" item-left>
                    <img src="{{pikaUrl}}bookcover.php?id={{checkout.groupedWorkId}}&size=medium&type=grouped_work">
                </ion-thumbnail>
                <h2 ion-text color="clickable">{{checkout.title}}</h2>
                <h3 *ngIf="checkout.author"><strong>Author: </strong>{{checkout.author}}</h3>
                <p *ngIf="!checkout.overDriveId || checkout.formats.length == 0"><strong>Format: </strong>{{checkout.format}}</p>
                <p *ngIf="checkout.overDriveId && checkout.formats.length > 0"><strong>Format: </strong>
                    <span *ngIf="checkout.formats[0].downloadUrl">{{checkout.format}}</span>
                    <span *ngIf="!checkout.formats[0].downloadUrl && checkout.formats.length > 1">Select or read online</span>
                </p>
                <p *ngIf="checkout.barcode"><strong>Barcode: </strong>{{checkout.barcode}}</p>
                <p>
                    <strong *ngIf="!checkout.overDriveId">Due: </strong><strong *ngIf="checkout.overDriveId">Expires: </strong>{{checkout.dueDate | customdate:'ddd, MMM DD'}} <strong *ngIf="checkout.overdue" color="danger"> OVERDUE</strong>
                </p>
                <p *ngIf="checkout.fine"><strong>Fine: </strong>{{checkout.fine}}</p>
                <p *ngIf="checkout.renewCount"><strong>Renewed: </strong>{{checkout.renewCount}}</p>
                <ion-icon *ngIf="checkout.selected" name="refresh" item-right></ion-icon>
            </ion-item>
    </ion-list>
    <div padding-horizontal>
        <button padding ion-button color="primary" (click)="renewSelected()" *ngIf="selectMode">Renew Selected</button>
        <button padding ion-button color="danger" (click)="cancelSelect()" *ngIf="selectMode">Cancel</button>
    </div>

</ion-content>